export(

# Training functions (slow)
	exh.train, exh.train.cv,

# Standard functions
	plot.exh,
	"[[.exhlist", # extract.Rs
	print.exh, print.exhlist, print.exhcv,  print.exhcvlist,
	predict.exh, predict.exhlist, predict.exhcv,  predict.exhcvlist,

# Special generic functions
	nr.panels, nr.panels.exhlist, nr.panels.exhcv,  nr.panels.exhcvlist,
	plot.thr.stability, plot.thr.stability.exhlist, plot.thr.stability.exhcv,  plot.thr.stability.exhcvlist,
	table.min.nr.stability, table.min.nr.stability.exhlist, table.min.nr.stability.exhcv,  table.min.nr.stability.exhcvlist,
	table.mol.stability, table.mol.stability.exhlist, table.mol.stability.exhcv,  table.mol.stability.exhcvlist,
	table.nr.stability, table.nr.stability.exhlist, table.nr.stability.exhcv,  table.nr.stability.exhcvlist,
	test.perf, test.perf.exh, test.perf.exhlist, test.perf.exhcv,  test.perf.exhcvlist,
	train.perf, train.perf.exhlist, train.perf.exhcv,  train.perf.exhcvlist,

# Special isolated plot functions
	plot.cv.diag, # plot.R
	plot.table.min.nr.stability, # table.min.nr.stability.R
	plot.table.mol.stability, # plot.table.mol.stability.R
	plot.table.nr.stability # plot.table.nr.stability.R

)
